* { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, h1, h2, h3, p, ul, li { margin: 0; padding: 0; }

.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

// global setup
body, input[type=text] {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
body {
    line-height: 1.3;
}

input[type=text] {
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:focus {
        position: relative;
        top: -1px;
        outline: none;
        border-color: #99f;
        box-shadow: 0 1px 0 0 #99f;
    }
}

a:link {
    color: #77f;
}
a:visited {
    color: #f7f;
}
a:hover {
    color: #55f;
}

// structure
.header {
    padding: 0.5em 0;
    text-align: center;
    font-size: 4em;
    font-weight: 200;
    letter-spacing: -0.05em;
}

.viewport {
    position: absolute;
    overflow: hidden;
    top: 8em;
    bottom: 0;
    left: 0;
    right: 0;
}
.sidebar {
    left: 0;
    width: 20%;
}
.content {
    left: 20%;
    right: 0;
}
.chatarea-wrapper {
    top: 10px;
    bottom: 66px;
}
.input {
    height: 46px;
    bottom: 0;
}

// styling
.sidebar {
    padding-left: 10px;
}
.sidebar h3 {
    margin-top: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
}
.sidebar ul {
    list-style: none;
    margin-left: 0.5em;
}

.users li {
    border-right: 3px solid #fff;
}
.users .you {
    color: #99f; 
    border-right-color: #99f;
}
.users .special {
    color: #E81A46;
    border-right-color: #E81A46;
}

.chatarea {
    margin: 0 10px;
    display: table;
    .post { display: table-row; }
    .post.system {
        color: #999;
        font-style: italic;
    }

    .author, .entry { display: table-cell; }

    .author {
        padding-right: 0.5em;
    }
}

.chatarea, .input {
    margin-right: 10px;
}
.input { padding-top: 2px; margin-left: 10px; }
.chatinput { width: 100%; }

// responsiveness
@media all and (max-width: 640px) {
    .header { display: none; }
    .viewport { top: 0; }
    .sidebar {
        top: 0;
        bottom: auto;
        left: 0;
        right: 0;
        padding: 10px;
        width: auto;

        h3 { display: inline; }
    }
    .content {
        top: 4em;
        left: 0; 
        right: 0;
    }

    .users {
        position: relative;
        top: -1px;
    }

    .users,
    .users li { display: inline; margin-right: 3px; }
    .users .you { border-right: none; }
}